<!--
    Omitting the Head, Body and HTML tags for demo purposes.
!-->

<style>
    #messages {
        margin-left: auto; margin-right: auto; 
        width: 700px;
        background-color: #fff;
        min-height: 300px;
        margin-top: 60px;   
        font-family: Helvetica, Arial;
        opacity: 0.8;
        filter:alpha(opacity=80); 
        color: #5C4033;
        -moz-box-shadow: 0px 0px 12px #000;
        -webkit-box-shadow: 0px 0px 12px #000;
        box-shadow: 0px 0px 12px #000;        
    }
    #rawjson {
        background-color: #333;
        position: absolute; top:0px; left:0px;
        width: 100%;
        min-height: 300px;
        color: #008B00;
    }
    a.reddit-link {
        text-decoration: none;
        color: #222;
    }
    a.reddit-link:hover {
        text-decoration: underline
    }   
    div.feed-attribute {
        float:left;
        position:relative;
    }
</style>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
(function(e,t){if(typeof exports==="object"&&exports){t(exports)}else{var n={};t(n);if(typeof define==="function"&&define.amd){define(n)}else{e.Mustache=n}}})(this,function(e){function n(e,n){return t.call(e,n)}function i(e){return!n(r,e)}function u(e){return typeof e==="function"}function a(e){return e.replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g,"\\$&")}function l(e){return String(e).replace(/[&<>"'\/]/g,function(e){return f[e]})}function c(e){if(!o(e)||e.length!==2){throw new Error("Invalid tags: "+e)}return[new RegExp(a(e[0])+"\\s*"),new RegExp("\\s*"+a(e[1]))]}function g(t,n){function E(){if(l&&!g){while(f.length){delete u[f.pop()]}}else{f=[]}l=false;g=false}n=n||e.tags;t=t||"";if(typeof n==="string"){n=n.split(p)}var r=c(n);var s=new w(t);var o=[];var u=[];var f=[];var l=false;var g=false;var S,x,T,N,C,k;while(!s.eos()){S=s.pos;T=s.scanUntil(r[0]);if(T){for(var L=0,A=T.length;L<A;++L){N=T.charAt(L);if(i(N)){f.push(u.length)}else{g=true}u.push(["text",N,S,S+1]);S+=1;if(N==="\n"){E()}}}if(!s.scan(r[0]))break;l=true;x=s.scan(m)||"name";s.scan(h);if(x==="="){T=s.scanUntil(d);s.scan(d);s.scanUntil(r[1])}else if(x==="{"){T=s.scanUntil(new RegExp("\\s*"+a("}"+n[1])));s.scan(v);s.scanUntil(r[1]);x="&"}else{T=s.scanUntil(r[1])}if(!s.scan(r[1])){throw new Error("Unclosed tag at "+s.pos)}C=[x,T,S,s.pos];u.push(C);if(x==="#"||x==="^"){o.push(C)}else if(x==="/"){k=o.pop();if(!k){throw new Error('Unopened section "'+T+'" at '+S)}if(k[1]!==T){throw new Error('Unclosed section "'+k[1]+'" at '+S)}}else if(x==="name"||x==="{"||x==="&"){g=true}else if(x==="="){r=c(n=T.split(p))}}k=o.pop();if(k){throw new Error('Unclosed section "'+k[1]+'" at '+s.pos)}return b(y(u))}function y(e){var t=[];var n,r;for(var i=0,s=e.length;i<s;++i){n=e[i];if(n){if(n[0]==="text"&&r&&r[0]==="text"){r[1]+=n[1];r[3]=n[3]}else{t.push(n);r=n}}}return t}function b(e){var t=[];var n=t;var r=[];var i,s;for(var o=0,u=e.length;o<u;++o){i=e[o];switch(i[0]){case"#":case"^":n.push(i);r.push(i);n=i[4]=[];break;case"/":s=r.pop();s[5]=i[2];n=r.length>0?r[r.length-1][4]:t;break;default:n.push(i)}}return t}function w(e){this.string=e;this.tail=e;this.pos=0}function E(e,t){this.view=e==null?{}:e;this.cache={".":this.view};this.parent=t}function S(){this.cache={}}var t=RegExp.prototype.test;var r=/\S/;var s=Object.prototype.toString;var o=Array.isArray||function(e){return s.call(e)==="[object Array]"};var f={"&":"&","<":"&lt;",">":"&gt;",'"':"&quot;","'":"&#39;","/":"&#x2F;"};var h=/\s*/;var p=/\s+/;var d=/\s*=/;var v=/\s*\}/;var m=/#|\^|\/|>|\{|&|=|!/;w.prototype.eos=function(){return this.tail===""};w.prototype.scan=function(e){var t=this.tail.match(e);if(t&&t.index===0){var n=t[0];this.tail=this.tail.substring(n.length);this.pos+=n.length;return n}return""};w.prototype.scanUntil=function(e){var t=this.tail.search(e),n;switch(t){case-1:n=this.tail;this.tail="";break;case 0:n="";break;default:n=this.tail.substring(0,t);this.tail=this.tail.substring(t)}this.pos+=n.length;return n};E.prototype.push=function(e){return new E(e,this)};E.prototype.lookup=function(e){var t;if(e in this.cache){t=this.cache[e]}else{var n=this;while(n){if(e.indexOf(".")>0){t=n.view;var r=e.split("."),i=0;while(t!=null&&i<r.length){t=t[r[i++]]}}else{t=n.view[e]}if(t!=null)break;n=n.parent}this.cache[e]=t}if(u(t)){t=t.call(this.view)}return t};S.prototype.clearCache=function(){this.cache={}};S.prototype.parse=function(e,t){var n=this.cache;var r=n[e];if(r==null){r=n[e]=g(e,t)}return r};S.prototype.render=function(e,t,n){var r=this.parse(e);var i=t instanceof E?t:new E(t);return this.renderTokens(r,i,n,e)};S.prototype.renderTokens=function(t,n,r,i){function f(e){return a.render(e,n,r)}var s="";var a=this;var l,c;for(var h=0,p=t.length;h<p;++h){l=t[h];switch(l[0]){case"#":c=n.lookup(l[1]);if(!c)continue;if(o(c)){for(var d=0,v=c.length;d<v;++d){s+=this.renderTokens(l[4],n.push(c[d]),r,i)}}else if(typeof c==="object"||typeof c==="string"){s+=this.renderTokens(l[4],n.push(c),r,i)}else if(u(c)){if(typeof i!=="string"){throw new Error("Cannot use higher-order sections without the original template")}c=c.call(n.view,i.slice(l[3],l[5]),f);if(c!=null)s+=c}else{s+=this.renderTokens(l[4],n,r,i)}break;case"^":c=n.lookup(l[1]);if(!c||o(c)&&c.length===0){s+=this.renderTokens(l[4],n,r,i)}break;case">":if(!r)continue;c=u(r)?r(l[1]):r[l[1]];if(c!=null)s+=this.renderTokens(this.parse(c),n,r,c);break;case"&":c=n.lookup(l[1]);if(c!=null)s+=c;break;case"name":c=n.lookup(l[1]);if(c!=null)s+=e.escape(c);break;case"text":s+=l[1];break}}return s};e.name="mustache.js";e.version="0.8.1";e.tags=["{{","}}"];var x=new S;e.clearCache=function(){return x.clearCache()};e.parse=function(e,t){return x.parse(e,t)};e.render=function(e,t,n){return x.render(e,t,n)};e.to_html=function(t,n,r,i){var s=e.render(t,n,r);if(u(i)){i(s)}else{return s}};e.escape=l;e.Scanner=w;e.Context=E;e.Writer=S})


</script>









<div id="messages" style=" z-index:100;"> 
    
</div>
<div id="rawjson" style="z-index:-100;">

</div>

<script>
    var Reddit = (function($, Mustache){

        var R = {}, that = this, defaultSub = 'Technology';

        // from: http://stackoverflow.com/a/831060/1118472
        function _get(name){
            // 'name' is the name of the URL GET variable we will use for the subreddit.
            if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search)){
                return decodeURIComponent(name[1]);
            } else {
                return defaultSub;
            }
        }

        R.getSubreddit = function(){
            // Just do everything in here.
            R.sub = _get('sub'); 
            R.downloadJSON();
        }

        R.makeRedditUrl = function(){
            return "http://www.reddit.com/r/" + R.sub + ".json";
        }

        R.downloadJSON = function(){
            $.getJSON(R.makeRedditUrl(), function(data){
                R.populatePage(data);
                console.log(data)
            });
        }

        R.populatePage = function(json){
            // Add the raw json for fun
            $("#rawjson").append(JSON.stringify(json));
            // Iterate through reddit posts and populate main div
            var target = $("#messages");
            $.each(json.data.children, function(idx, feed){
                //console.log(feed.data)
                var template = $("#feed-template").html();
                var html = Mustache.to_html(template, feed.data);
                $(html).appendTo(target);
            });
        }

        return R;

    }(jQuery, Mustache));

    Reddit.getSubreddit();

</script>   

<script id="feed-template" type="text/template">
    <div style="border:1px solid #222; padding: 8px 4px;">
        <div class="feed-attribute" style="width: 50px; color: #4D4DFF; ">
            {{ score }}
        </div>
        <div class="feed-attribute" style="width: 640px;" >
            <a href="http://reddit.com{{  permalink }}" class="reddit-link">{{ title }}</a>
        </div>
        <div style="clear:both;"></div>
    </div>
</script>



